@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column; /* Her ayrı etiketi alt alta gösterecek */
    background-image:url(../images/giris\ arkaplan.jpg);
    align-items: center;
}

body::-webkit-scrollbar {   /* scrollbarın yatay ve dikey alanı */
    width: 6px;
    height: 6px;
    background-color: #eeeeee;
}

body::-webkit-scrollbar-corner { /* scrollbarın köşesi */
    background-color: #eeeeee;
}

body::-webkit-scrollbar-thumb { /* scrollbarın kendisi */
    background-color: gray;
    border-radius: 15px;
}


/* ! Header Start */

header {
    z-index: 1;
    height: 70px;
    width: 98%;
    background-color: rgb(2,27,35);
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;   /* içerisindeki yerleri yan yana dizdirecek / default modu: yan yana direction:column alt alta yazar */
    justify-content: space-between;
    align-items: center;
    position: sticky;   /* bu ve alttaki kod navbarın scroll ile beraber aşağı inmesi */
    top: 0px;
}

header nav ul li {
    display: inline-block;
    padding-left: 30px;
    margin: 5px;
}

header nav ul li a {
    color: #3F8AAA;
    font-size: 17px;
    font-weight: 600;
    padding-bottom: 10px; /* border bottom ı biraz uzaklaştırıyor */
    transition: color .25s ease;
}

.active, header nav ul li:hover a {
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
}

.login {
    display: inline-block;
    padding-right: 20px;
    margin: 5px;
}

.login a{
    color: #3F8AAA;
    background-color: rgba(70,134,168,0.2);
    font-size: 17px;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    transition: all .25s ease;
}

.login a.active2, .login a:hover{
    background-color: #303841;
    color:  #ffffff;
}

.menu_bar i{
    display: none;
}

/* ! Header End */

/* ! Section Start */

.signup-form {
    width: 300px;
    padding: 20px;
    text-align: center;
    background-color: rgb(2,27,35);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    border-radius: 30px;
}

.signup-form h1 {
    color: #3F8AAA;
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 40px;
    user-select: none;
}

.signup-form .txt {
    background-color: rgb(231, 231, 231);
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: large;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    border: none;
}

.signup-form .signup-btn {
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    border: none;
}

.txt {
    margin: 20px 0;
    border-radius: 6px;
}

.signup-btn {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #000000;
    font-weight: 600;
    font-size: large;
    border-radius: 50px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.3s;
}

.signup-btn:hover {
    transform: scale(1.1);
}


/* ! Section End */

/* ! Footer Start */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3vh;
    background-color: #000000;
    color: #ffffff;
}

footer p {
    text-align: center;
}

/* ! Footer End */

/* ! Table Görünüm Başlangıç */

@media (max-width:992px) {
    .block { width: 47%;}
    .block img {width: 55%;}
}

/* ! Table Görünüm Bitiş */

/* ! Telefon Görünüm Başlangıç */

@media (max-width:790px) {
    .menu {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        background-color: rgb(2,27,35);
        transition: 0.2s;
        overflow: hidden;
    }

    .menu.active3 {
        height: 180px;
    }

    .menu ul {
        display: block;
        width: fit-content;
        margin: 40px auto 0 auto;
        text-align: center;
        opacity: 0;
    }

    .menu.active3 ul {
        opacity: 1;
    }

    .login {
        display: block;
    }



    .menu_bar i {
        display: block;
        color: #ffffff;
        position: absolute;
        right: 20px;
        font-size: 30px;
        cursor: pointer;
        border: 1px solid #ffffff;
        padding: 5px;
        border-radius: 15%;}
    
 
}

/* ! Telefon Görünüm Bitiş */